// ARTICLES
.article-list {
    a {
        text-decoration: none;
    }

    .card {
        height: 25vh;
    }

    .card-img-left {
        width: 40%;
        object-fit: cover;
    }
}

.profile-img {
    border-radius: 50%;
}

.container-width {
    width: 80%;
}

// SIGNUP PAGE
.container {
    height: 100vh;
}


label {
    font-weight: 600;

    &.required {
        &::after {
            content: '*';
            font-size: 1rem;
            color:var(--danger);
            margin-left:1px;
        }
    }
}
// END OF SIGNUP PAGE
