// Include Bootstrap and Bootstrap modules here.
// Ensure that all variable definitions are placed
// AFTER the Bootstrap imports.
// Define your variable overrides here.
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// SIGNUP PAGE
label {
  font-weight: 600;

  &.required {
    &::after {
      content: "*";
      font-size: 1rem;
      color: var(--danger);
      margin-left: 1px;
    }
  }
}

// END OF SIGNUP PAGE

.social-login {
  margin: auto;
}

hr {
  background-color: #000;
  height: 1px;
}

.bg-facebook {
  background: #3b5998;
}

.bg-google {
  background: #db4a39;
}

.bg-twitter {
  background: #00acee;
}